<div class="flex justify-between items-center mb-4 mx-4 h-10">
  <h1 class="font-lato text-lg font-semibold">conversation information</h1>
</div>
<div class="mx-4"><hr /></div>
<div class="mt-8 flex flex-col gap-2 items-center">
  <img
    src="../../../assets/person.jpg"
    class="w-20 h-20 object-cover rounded-full"
    alt=""
  />
  <div class="flex-auto text-center">
    <h1 class="font-medium text-2xl">Alireza</h1>
    <p class="text-xs text-slate-500">
      online
      <span class="inline-block w-2 h-2 bg-green-600 rounded-full"></span>
    </p>
  </div>
</div>
<div class="mt-8 mx-4">
  <h1 class="font-medium">Shared media</h1>
</div>
