<div class="p-4 text-slate-700 bg-stone-50">
  <div class="h-10">
    <div class="flex gap-2 items-center">
      <img
        src="../../../assets/person.jpg"
        class="w-10 h-10 object-cover rounded-full"
        alt=""
      />
      <div class="flex-auto">
        <h1 class="font-medium">Alireza</h1>
        <p class="text-xs text-slate-500">
          online
          <span class="inline-block w-2 h-2 bg-green-600 rounded-full"></span>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="absolute bottom-5 w-full">
  <div
    class="bg-white rounded-md p-2 mx-4 flex justify-between items-center gap-1"
  >
    <input type="text" placeholder="Aa" class="w-full p-1 outline-none" />
    <div>
      <fa-icon [icon]="faPaperPlane" class="text-blue-700"></fa-icon>
    </div>
  </div>
</div>
