<div
  class="flex items-center gap-2 border-l-4 border-l-transparent transition-colors hover:border-l-blue-500 p-4 hover:bg-white cursor-pointer"
>
  <div>
    <img
      src="../../../assets/person.jpg"
      class="w-10 h-10 object-cover rounded-full"
      alt=""
    />
  </div>
  <div class="flex-auto">
    <div class="flex justify-between items-center">
      <h1 class="font-medium">Alireza</h1>
      <fa-icon class="text-green-700 text-sm" [icon]="faCheckDouble"></fa-icon>
    </div>
    <div class="flex justify-between items-center text-xs text-slate-500">
      <p class="">Hello there</p>
      <span>06:56</span>
    </div>
  </div>
</div>
